<style>
  h2 {
      font-weight: bold;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
</style>
<div style="text-align: center">
  <h2>
    BIENVENIDO A LA PAGINA DE JEAMPIER
  </h2>
  <nav class="navbar navbar-dark bg-dark navbar navbar-expand-lg navbar-light bg-light"
  style="margin-left: 5px; margin-right: 5px;">
    <a class="navbar-brand" style="margin-left: 15px;" routerLink="/">JEAMPIER</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" routerLink="/productos">Productos</a>
        <a class="nav-item nav-link" routerLink="/trabajador">Trabajador</a>
        <a class="nav-item nav-link" routerLink="/vistadado">Dado y Conometro</a>
        <a class="nav-item nav-link" routerLink="/selectornumerico">Selector Numerico</a>
        <a class="nav-item nav-link" routerLink="/jsonvista">Dado + JSON de Modulo</a>
        <a class="nav-item nav-link" routerLink="/acercade">Acerca de ...</a>
        <a class="nav-item nav-link" routerLink="/formulario">Practica 03</a>
      </div>
    </div>
  </nav>
  <hr>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>
